.game {
  position: relative;
  top: 30px;
  margin: auto;
}

#play {
  padding : 10px;
  background-color: $my-gray-lightest;
  border: 4px solid white;
  &:hover {
    background-color: $my-gray-light;
    cursor: pointer;
  }
}

#smiley {
  position: relative;
  margin: auto;
  width: 30px;
  height: 30px;
  background-size: cover;
}

.new-game {
  background: image-url('game.png');
}

.new-game:hover {
  background: image-url('heyyy.png');
}

.winner {
  background: image-url('winner.png');
}

.looser {
  background: image-url('looser.png');
}

#status-bar {
  padding : 14px;
  background-color: $my-gray-lightest;
  border: 4px solid white;
  cursor: pointer;
  & li {
    padding: 0px;
  }
}

.fa {
  color: $my-gray-dark;
  font-size: 20px;
}

#bomb {
  float: left;
  margin-left: 0.7em;
}

#clock {
  float: right;
  margin-right: 0.7em;

}

.clear {
  clear: both;
}


