<% beginners.each_with_index do |player, index| %>
  <tr>
    <td id='rank' class='text-right'><%= index + 1 %>.</td>
    <td id='pseudo' class='text-left'> <%= player.name %></td>
    <td id="numbers" class='text-right'><%= player.score %></td>
  </tr>
<% end %>

