<div class="header">
  <ul class="list-inline text-center">
    <li>
      <%= image_tag 'logo.png'%>
    </li>
    <li>
      <h1>Booom</h1>
    </li>
    <li>
      <%= image_tag 'logo.png'%>
    </li>
  </ul>
</div>
