.rankings-button {
  position: absolute;
  left: -15px;
  top:-15px;
  padding: 0.2em;
  background-color: $my-gray-middle;
  border-radius: 50%;
  border: 4px solid $my-gray-lightest;
  &:hover {
    background-color: $my-gray-dark;
    cursor: pointer;
  }
  & .fa.fa-star {
    color: white;
    margin: 4px;
    width: 20px;
  }
  & .fa.fa-times {
    color: white;
    margin: 4px;
    width: 20px;
  }
}

#rankings-header {
  padding : 14px;
  background-color: $my-gray-lightest;
  border: 4px solid white;
  & p {
    color: $my-gray-dark;
  }
}

.leaderboard {
  margin: 0.5em 0em;
  border: 4px solid white;
  overflow-y: scroll;
  &#beginners table.rankings {
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: $my-gray-dark;
    & tr:nth-child(even) {
      background-color: $my-gray-light;
    }
    & tr:nth-child(odd) {
      background-color: $my-gray-lightest;
    }
    & td {
      padding: 0.2em;
      &#rank {
        font-size: 13px;
        width: 10px;
        color: $yellow-dark;
      }
      &#pseudo {
        width: 130px;
        max-width: 130px;
        padding-right: 7px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;
      }
      &#numbers {
        padding-right: 5px;
        width: 20px;
        color: $orange;
      }
    }
  }
  &#intermediates table.rankings {
    width: 100%;
    height: 100%;
    font-size: 13px;
    color: $my-gray-dark;
    & tr:nth-child(even) {
      background-color: $my-gray-light;
    }
    & tr:nth-child(odd) {
      background-color: $my-gray-lightest;
    }
    & td {
      padding: 0.2em;
      &#rank {
        font-size: 16px;
        width: 10px;
        color: $yellow-dark;
      }
      &#pseudo {
        width: 130px;
        max-width: 130px;
        padding-right: 7px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;
      }
      &#numbers {
        font-size: 14px;
        padding-right: 15px;
        width: 20px;
        color: $orange;
      }
    }
  }
  &#experts table.rankings {
    width: 100%;
    height: 100%;
    font-size: 13px;
    color: $my-gray-dark;
    & tr:nth-child(even) {
      background-color: $my-gray-light;
    }
    & tr:nth-child(odd) {
      background-color: $my-gray-lightest;
    }
    & td {
      padding: 0.2em;
      &#rank {
        font-size: 16px;
        width: 10px;
        color: $yellow-dark;
      }
      &#pseudo {
        width: 300px;
        max-width: 300px;
        padding-right: 7px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre;
      }
      &#numbers {
        font-size: 14px;
        padding-right: 30px;
        width: 20px;
        color: $orange;
      }
    }
  }
}

#rankings-footer {
  padding : 14px;
  background-color: $my-gray-lightest;
  border: 4px solid white;
  & p {
    color: $my-gray-dark;
  }
}
