.main {
  margin: auto;
  margin: 0.5em 0em;
  border: 4px solid white;
  border-collapse: collapse;
}
table#minesweeper td {
  background-size: cover;
}
td.mine {
  background: image-url('mine.png');
}
td.boom {
  background: image-url('boom.png');
}
td.mine-neighbour-0 {
  background: image-url('0.png');
}
td.mine-neighbour-1 {
  background: image-url('1.png');
}
td.mine-neighbour-2 {
  background: image-url('2.png');
}
td.mine-neighbour-3 {
  background: image-url('3.png');
}
td.mine-neighbour-4 {
  background: image-url('4.png');
}
td.mine-neighbour-5 {
  background: image-url('5.png');
}
td.mine-neighbour-6 {
  background: image-url('6.png');
}
td.mine-neighbour-7 {
  background: image-url('7.png');
}
td.mine-neighbour-8 {
  background: image-url('8.png');
}
td.unopened {
  background: image-url('unopened.png');
  cursor: pointer;
}
td.flagged {
  background: image-url('flag.png');
  cursor: pointer;
}
td.wrongflagged {
  background: image-url('not-a-mine.png');
}
td.question {
  background: image-url('question.png');
  cursor: pointer;
}

